<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Nueva Cuenta</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	</head>
	<body>
		
		<%if (success) { %>
			<div classs="container">
				<div class="row">
					<div class="colm-md-4 mx-auto">
						<div class="alert alert-success alert-dismissible fade show" role="alert">
							<%=success%>
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times</span>
							</button>
						</div>
					</div>
				</div>
			</div>
		<% } %>

		<%if (message) { %>
			<div classs="container">
				<div class="row">
					<div class="colm-md-4 mx-auto">
						<div class="alert alert-danger alert-dismissible fade show" role="alert">
							<%=success%>
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times</span>
							</button>
						</div>
					</div>
				</div>
			</div>
		<% } %>

		<nav class="navbar navbar-dark bg-dark mb-4">
			<a href="/registro" class="navbar-brand">LOGIN</a>
		</nav>
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<div class="card">
						<div class="card-body">
							<form action="/login" method="POST">
								<div class="form-group">
									<input type="text" name="correo" placeholder="Email" class="form-control">
								</div>
								
								<div class="form-group">
									<input type="text" name="password" placeholder="Contraseña" class="form-control">
								</div>
								<button type="submit" class="btn btn-primary btn-block">LOGIN</button>
							</form>
						</div>
					</div>
				</div>	
			</div>
		</div>
	</body>
</html>